
.splash {
  background-image: url("/images/background.png");
  background-size: cover;
  //width: 100%;
  height: 100vh;
  position: relative;
  padding: 20px;
  

  

  .nav {
    position: absolute;
    top: 3%;
    right: 15%;
   

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;

      li {

        margin-left: 10px;

        nav li:first-child {
          margin-left: 0;
        }

        a {
          display: block;
          padding: 20px 10px;
          text-decoration: none;
          color: $whiteColor;
          font-family: $font-text;
          font-weight: 400;
          font-size: 15px;

          .active {
            color: $primaryColor;
          }
        }

        a:hover {
          color: $primaryColor;
        }
      }
    }
  }

  .small-logo {
    position: absolute;
    top: 0;
    left: 15%;
    padding: 20px 10px;
    

    .small-logo-text {
      font-size: 20px;
      line-height: 1.2;
      color: $whiteColor;
      font-family: $font-text;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 4px;

      span {
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 2px;
      }
    }
    
  }
  
  .big-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .big-logo-text {
      line-height: 1.2;
      color: $primaryColor;
      font-family: $font-text;
      font-weight: 700;
      font-size: 72px;
      letter-spacing: 25px;
      white-space: nowrap;
    }

    .big-logo-text::after {
      position: absolute;
      content: '';
      bottom: -24px;
      left: 50%;
      width: 200px;
      height: 5px;
      transform: translateX(-50%);
      background: $primaryColor; 
    }
  }

  .discover {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    color: $whiteColor;
    font-family: $font-text;
    font-size: 36px;
    font-weight: 400;
    

    .dicover-text {
      line-height: 1.2;
      color: $whiteColor;
      font-family: $font-text;
      font-size: 50px;
      
    }

    .icon-arrow {
      display: block;
      text-align: center;
      padding: 10px 0 20px 0;
    }
  }
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.footer-text {
  font-family: $font-text;
  text-align: center;
  font-size: 15px;
  padding: 10px 0 10px 0;

  .fa-copyright {
    font-size: 12px;
  }
}